<h2 mat-dialog-title>Dialog details</h2>
<mat-dialog-content>
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
          
          </tr>
          
        </tbody>
      </table>
    
    This dialog showcases the title, close, content and actions elements.</mat-dialog-content>
<mat-dialog-actions style="float: right;">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
